<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sample_ai_data" xsi:type="object">
                    Opengento\SampleAiData\Console\Command\SampleAiDataDeployCommand
                </item>
                <item name="sample_ai_product_data" xsi:type="object">
                    Opengento\SampleAiData\Console\Command\SampleAiProductDataDeployCommand
                </item>
                <item name="sample_ai_category_data" xsi:type="object">
                    Opengento\SampleAiData\Console\Command\SampleAiCategoryDataDeployCommand
                </item>
            </argument>
        </arguments>
    </type>
</config>
